
<div class="container">
    <div class="row">
        {{# each products}}
            <div class="col">

                <!--Card 1 -->
                <div class="card mt-5 bg-light" style="width: 18rem; margin: 5%;">
                    <a href="/product/{{this._id}}"><img class="card-img-top" id="img" src="{{this.path}}" alt="{{this.name}}"></a>
                    <div class="card-body">
                    </div>
                    <form id="{{this._id}}" class="form" action="/updateProduct/{{this._id}}" method="post">
                        <label for="path">Path:</label>
                        <input class="form-control" id="image" name="image" value="{{this.path}}">

                        <label for="type">Type:</label>
                        <input class="form-control" id="type" name="type" value="{{this.type}}">

                        <label for="name">Name:</label>
                        <input class="form-control" id="name" name="name" value="{{this.name}}">

                        <label for="color">Color:</label>
                        <input class="form-control" id="color" name="color" value="{{this.color}}">

                        <label for="price">Price:</label>
                        <input class="form-control" id="price" name="price" value="{{this.price}}">

                        <label for="price">Description:</label>
                        <textarea class="form-control" id="description" name="description" rows="5" cols="50">{{this.description}}</textarea>

                    </form>
                    <div class="card-body d-flex justify-content-center">
                        <form method="post" action="/deleteProduct/{{this._id}}" style="margin-left: 5px; margin-right: 5px;">
                            <button type="submit" class="btn btn-outline-danger">Remove</button>
                        </form>
                        <button type="submit" class="btn btn-outline-success" form="{{this._id}}">Update</button>
                        <!--<input type="hidden" id="{{this._id}} name={{this._id}}">-->
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>

