    {{# each products}}
        <div class="container">
            <div class="row">
                {{# each this}}
                    <div class="col">
                        <!--Card 1 -->
                        <div class="card cardcontainer">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-10">
                                        <h5 id="item_name" class="card-title">{{this.name}}</h5>
                                        <p class="card-text">Price: ${{this.price}}</p>
                                        <p class="card-text">Quantity: {{this.quantity}}</p>
                                        <form onsubmit="return itemremove()" action="/delete-item" method="post">
                                            <input type="number" min="1" max="{{this.quantity}}" id="remove_num" name="remove_num" value="1">
                                            <input type="submit" name="{{this.name}}" class="btn btn-primary" value="Remove">
                                            <input type="hidden" value="{{this.item_id}}" name="item_id">
                                        </form>
                                    </div>
                                    <div class="col-2 ml-auto">
                                        <img class="card-img-top ml-auto" src="{{this.path}}" alt="Card image cap">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Card 1 end-->
                    </div>
                {{/each}}
            </div>
        </div>
        <br>
    {{/each}}

    <!--For Deliverable 3-->
    {{# if products}}
        <div class="container pb-5">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-10">
                            <form onsubmit="return confirm('Confirm purchase??')" action="/checkout" method="post">
                                <input type="submit" name="purchase" class="btn btn-primary" value="Purchase"> Total Price: ${{total_price}}
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {{/if}}


